.singleProd {
    display: flex;

    justify-content: center;
    margin-top: 4rem;
    /* background-color: blue; */
}

.singleProdImg {
    display: flex;
    gap: 25px;

}


.mainImg {
    width: 23rem;
    height: 34rem;
    background: rgb(184, 184, 184);
}


.mainImg img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.singleProdsubImg {
    display: flexbox;
    width: 7rem;
    height: 10rem;
    background: rgb(184, 184, 184);
}

.singleProdsubImg img {
    width: 100%;
    height: 100%;
    border-radius: 4px;

}

.singleProdInfo {
    margin-left: 1rem;
}